//
   Created by fy on 15-9-4.
extends layout_nomenu

block content
        pre(style='width:100%;height:900px;padding-top:100px;padding-left:200px;').

                    版权所有:山东兴瑞生物科技


                    技术支持:尹彬


                    手机:15965585803


                    邮箱:ybkk1027@gmail.com

