//
   Created by fy on 15-12-22.
extends ../../layout_nomenu

block content

    .main-content
        .page-content
            form#search-form-id
                table.searchTable
                    tr
                        td 条码编号
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='barcode_long', placeholder='请输入条码编号')
                        td 建库组接收人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='storage_handover', placeholder='请输入建库组接收人')
                        td 建库组接收时间
                        td
                            input.col-xs-10.col-sm-5.ipt-date(type='text' , name='storage_handover_date', placeholder='请输入建库组接收时间')
                    tr
                        td 建库浓度
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='storage_deep', placeholder='请输入建库浓度')
                        td 建库片段大小
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='storage_part_size', placeholder='请输入建库片段大小')
                        td 建库人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='storager', placeholder='请输入建库人')
                    tr
                        td 建库时间
                        td
                            input.col-xs-10.col-sm-5.ipt-date(type='text' , name='storage_date', placeholder='请输入建库时间')
                        td 建库审查人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='storage_checker', placeholder='请输入建库审查人')
                        td 建库审查时间
                        td
                            input.col-xs-10.col-sm-5.ipt-date(type='text' , name='storage_check_date', placeholder='请输入建库审查时间')
                    tr
                        td 建库组出库人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='storage_outer', placeholder='请输入建库组出库人')
                        td 建库组试管剩余数量
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='storage_out_residue', placeholder='请输入建库组试管剩余数量')
                        td
                        td
                    tr
                        td 状态
                        td
                            select#status.col-xs-12.clo-sm-10(style="width:180px;", name='status',placeholder='')
                                option(value='-1') 全部
                                option(value='0') 已废弃
                                option(value='1') 已录入采血单
                                option(value='2') 已审批
                                option(value='3') 已入库
                                option(value='4') 交接后未提取
                                option(value='5') 提取且已保存
                                option(value='6') 提取审核-合格
                                option(value='7') 提取审核-废弃
                                option(value='8') 提取审核-重提取
                                option(value='9') 交接后未建库
                                option(value='10') 建库且已保存
                                option(value='11') 建库审核-合格
                                option(value='12') 建库审核-废弃
                                option(value='13') 建库审核-重建库
                                option(value='14') 交接后未上机
                                option(value='15') 上机已保存
                                option(value='16') 上机审核-合格
                                option(value='17') 上机审核-废弃
                                option(value='18') 上机审核-重上机
                                option(value='19') 交接后未分析
                                option(value='20') 分析已保存
                                option(value='21') 报告已发送
                        td
                        td
                        td
                        td
                            #btn-search.btn-group
                                button.btn.btn-info.btn-sm(type='submit')
                                    i.icon-edit.bigger-110 &nbsp;&nbsp;&nbsp;搜索
                                button.btn.btn-info.dropdown-toggle.btn-sm(data-toggle='dropdown')
                                    i.icon-angle-down.icon-only
                                ul.dropdown-menu.dropdown-yellow
                                    li
                                        a#btn-search-more(href='javascript:void(0);') 显示更多搜索项
                            button.btn.btn-sm(type='reset')
                                i.icon-undo.bigger-110 重置

            div.my-toolbar
                #btn-cxd.btn-group
                    button.btn.btn-info.btn-sm(onclick="showEditDialog(this)")
                        i.icon-edit.bigger-110 &nbsp;&nbsp;&nbsp;录入建库信息
                    button.btn.btn-info.dropdown-toggle.btn-sm(data-toggle='dropdown')
                        i.icon-angle-down.icon-only
                    ul.dropdown-menu.dropdown-yellow
                        li
                            a(href='javascript:clearUser("建库录入人员")') 不记住建库录入人员
                        //li
                            a(href='#') Separated link
                span
                #btn-sh.btn-group
                    button.btn.btn-info(onclick="showShDialog(this)",disabled)
                        i.icon-edit.bigger-110 &nbsp;&nbsp;&nbsp;审核
                    button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
                        i.icon-angle-down.icon-only
                    ul.dropdown-menu.dropdown-yellow
                        li
                            a(href='javascript:clearUser("审核人员")') 不记住审核人员
                span
                //button#btn-rk-id.btn.btn-info.btn-sm(onclick="rk(this)")
                    i.icon-inbox.bigger-110 入库
                #btn-ck.btn-group
                    button.btn.btn-info.btn-sm(onclick="showCkDialog(this)")
                        i.icon-edit.bigger-110 &nbsp;&nbsp;&nbsp;批量出库
                    button.btn.btn-info.dropdown-toggle.btn-sm(data-toggle='dropdown')
                        i.icon-angle-down.icon-only
                    ul.dropdown-menu.dropdown-yellow
                        li
                            a(href='javascript:clearUser("出库人员")') 不记住出库人员
                        li
                            a(href='javascript:clearUser("交接人员")') 不记住交接人员
                span
                button#btn-dc-id.btn.btn-default.btn-sm(onclick="exportCvs(this)")
                    i.icon-download-alt.bigger-110 导出EXCEL
                //button#btn-dy-id.btn.btn-default.btn-sm(onclick="dy(this)")
                    i.icon-print.bigger-110 打印

            table#grid-table
            #grid-pager
    script(type='text/javascript',src="javascripts/dna/storage.js")
